<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bảng Xếp Hạng Vua Phá Lưới</title>
  <link rel="stylesheet" href="/css/BXHGoals.css">
  <link rel="stylesheet" href="/css/Home.css">
</head>
<body>
<div class="sidebar">
  <h2>Quản trị viên</h2>
  <ul>
    <li class="dropdown">
      <a href="#" class="dropbtn">Giải đấu</a>
      <div class="dropdown-content">
        <a href="/addLeague">Thêm giải đấu mới</a>
        <a href="/schedulematch">Lịch thi đấu</a>
        <a href="#">Điều lệ</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Đội bóng</a>
      <div class="dropdown-content">
        <a href="/teamleague">Danh sách đội bóng</a>
        <a href="/addteam">Thêm đội bóng mới</a>
        <a href="#">Chỉnh sửa đội bóng</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Thống kê</a>
      <div class="dropdown-content">
        <a href="/bxhteam">BXH Đội bóng</a>
        <a href="/bxhfairplay">BXH FairPlay</a>
        <a href="/bxhgoal">BXH Vua phá lưới</a>
        <a href="/bxhticket">BXH Khán giả</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Trọng tài</a>
      <div class="dropdown-content">
        <a href="/addreferee">Thêm mới trọng tài</a>
        <a href="/assignreferee">Phân công trọng tài</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Yêu cầu</a>
      <div class="dropdown-content">
        <a href="/">Xem yêu cầu</a>
        <a href="#">Đã Phê duyệt </a>
        <a href="#">Đã Từ chối </a>
      </div>
    </li>
  </ul>
</div>
<div class="container">
  <h2>Bảng Xếp Hạng Vua Phá Lưới</h2>
  <table id="top-scorers-table">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên Cầu Thủ</th>
      <th>Tên Đội Bóng</th>
      <th>Số Bàn Thắng</th>
    </tr>
    </thead>
    <tbody id="goals">


    </tbody>
  </table>
</div>
</body>
<script src="/js/BXHGoals.js"></script>
</html>
